.item {
  background-color: #f8f8f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 10px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
  cursor: pointer;
}

.questionTitle {
  color: #141d28;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.answerOpened {
  font-size: 20px;
  color: #5c6f87;
  text-align: left;
  align-self: flex-start;
  padding: 0 30px 30px;
  transition: 0.2s;
}

.answerClosed {
  font-size: 0px;
  text-align: left;
  color: #5c6f87;
  align-self: flex-start;
  padding: 0 30px;
  transition: 0.2s;
}

.plusIconContainer {
  display: flex;
  margin-left: 10px;
}

.plusIcon {
  font-size: 25px;
  color: #0ac775;
  transition: 0.2s;
}

.plusIconRotated {
  font-size: 25px;
  color: #0ac775;
  transition: 0.2s;
  rotate: 135deg;
}

@media only screen and (max-width: 768px) {
  .item {
    margin: 10px;
  }
  .questionTitle {
    font-size: 20px;
  }

  .answerOpened {
    font-size: 17px;
    padding: 0 30px 30px;
    transition: 0.2s;
  }

  .answerClosed {
    font-size: 0px;
    padding: 0;
    transition: 0.2s;
  }

  .plusIcon {
    font-size: 20px;
  }

  .plusIconRotated {
    font-size: 20px;
  }
}
