.slider {
  width: 100%;
  background-color: #f8f8f9;
}

.slide {
  max-width: 1600px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.slideContainer {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.imgContainer img {
  width: 100%;
}

.swiper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  position: absolute;
  width: 500px;
  height: auto;
  color: #c4c4c43f;
}

.textAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textAndBtn a {
  font-size: 20px;
  text-align: left;
  color: #5c6f87;
  line-height: 1.5;
  padding: 10px;
  margin: 10px;
  border: 1px solid #5c6f87;
  transition: 0.2s;
}

.textAndBtn a:hover {
  border: 1px solid #0ac775;
  color: #0ac775;
  transition: 0.2s;
}

@media only screen and (max-width: 500px) {
  .slide,
  .icon {
    height: 300px;
  }

  .textAndBtn {
    flex-direction: column;
  }

  .textAndBtn a {
    font-size: 14px;
  }
}
